<div style="background-color:transparent;">
    <div style="margin: 0 auto;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid mixed-two-up">
      <div style="border-collapse: collapse;display: table;width: 100%;">
        <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
            <tr class="layout-full-width" style="background-color:transparent;">
              <td>
                {content}
              </td>
            </tr>
        </table>
      </div>
    </div>
</div> 